/TP3_ejercicio2/nbproject/private/
/TP3_ejercicio1/nbproject/private/
/TP3_ejercicio1/build/
/TP3_ejercicio2/build/

/tp4-ejercicio01/nbproject/private/
/tp4-ejercicio02/nbproject/private/
/tp4-ejercicio02/build/
/tp4-ejercicio01/build/
/tp4-ejercicio03/nbproject/private/
/tp4-ejercicio03/build/

/tp4-ejercicio01/test/
/tp4-ejercicio02/test/
/tp4-ejercicio03/test/